* {
  box-sizing: border-box;
}

.dismiss {
  transform-box: fill-box;
  transform-origin: center;

  /*
  TODO: Background image needs to be changed via SASS variable
  https: //getbootstrap.com/docs/5.1/components/close-button/#example
  */
  background-image: url("../img/close.svg");
  height: 1em;
  width: 1em;

  /* Override Bootstrap Opacity */
  opacity: 1;
}

.dismiss:hover {
  animation: 0.5s spin 1 normal ease-in-out;

  /* Override Bootstrap Opacity */
  opacity: 1;
}

.pokemon-button {
  width: 100%;
}

.loading-gif {
  display: hidden;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(90deg);
  }
}
