* {
  box-sizing: border-box;
}

.pokemon-button {
  display: block;
  padding: 10px 30px;
  margin: 10px;
  background-color: lightgray;
  border: 3px solid lightgray;
  border-radius: 4px;
}

.pokemon-button:hover {
  background-color: gray;
  border: 3px solid gray;
}

.pokemon-button:active {
  border: 3px solid darkgray;
  background-color: darkgray;
}

.pokemon-details {
  display: block;
  background: lightgray;
  width: 30%;
}

.pokemon-details-img {
  height: 100px;
}

.loading-gif {
  display: hidden;
}
